<!doctype html>
<html lang="en">

<!-- REMEMBER LESS IS MOOOOOOOOOOOOOOOOOOORE ! -->>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>FSND Capstone</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- my css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<header>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">
        <div class="container px-5 ">
            <a class="navbar-brand fw-bold" href="#page-top">FSND Capstone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#adoption_journey">Adoption Journey</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#search">Search</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3 " href="#join ">Join</a></li>
                </ul>
                <button class="btn sign-btn rounded-pill shadow" data-bs-toggle="modal" data-bs-target="#"><strong >Sign In</strong></button>
            </div>
        </div>
    </nav>



</header>






<a name="join">
    <section id="home">
        <div class="container-fluid shadow-sm ">
            <div class="row justify-content-start align-items-center">
                <div class=" col-md mx-5 home-text">
                    <h1 class="text-left mt-5  ">Animal Rescue and Shelter </h1>
                    <!-- this message is taken from here src: https://www.petrescue.com.au/ -->
                    <p class="text-left ">Join us in creating a future where every pet is safe, respected and loved.</p>
                    <!-- This button has been created following this tutorial src: https://www.youtube.com/watch?v=SbukKlDWM3c -->
                    <ul class="section-btn">
                        <a href="#"><button class="btn rounded-pill shadow">Join</button></a>
                    </ul>
                </div>
                <div class="col-sm"> <img class="catbg rounded " src="{{url_for('static', filename='cat_2.png')}}" width="800 " height="477 "></div>
            </div>
</a>



<a name="adoption_journey">
    <div id="Journey" class="container-fluid bg-light ">
        <div class="row justify-content-center align-items-start pt-5 pb-5">
            <h2 class="col-sm-12 align-self-end text-center text-muted pt-5 pb-5">Adoption Journey</h2>
            <br>
            <br>
            <div class="col-sm"></div>
            <div class="col-sm shadow-sm bg-white py-5">
                <h3 class="text-center py-4">Search</h3>
                <div class="container">
                    <p>It's easy to find a dog or cat who's right for you here. Simply click the search button on the search section and start your search.</p>
                </div>
            </div>
            <div class="col-sm shadow-sm bg-white py-5">
                <h3 class="text-center py-4">Meet</h3>
                <div class="container">
                    <p>Once you find a pet, click "learn more about me" to book an interview appointment with the shelter. </p>
                </div>

            </div>
            <div class="col-sm shadow-sm bg-white py-5">
                <h3 class="text-center py-4">Adopt</h3>
                <div class="container">
                    <p>The shelter will walk you through their adoption process. Prepare your home for the arrival of your dog or cat to help them adjust to their new family.</p>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</a>


<a name="search">
    <div id="Search" class="row justify-content-center align-items-center ">
        <div class="col-md-4"> <img src="{{url_for('static', filename='dog_1.png')}}" width="400 " height="500 " alt=""></div>
        <div class="col-md-4">
            <h2 class="text-dark text-left text-muted">Search to Find your New <br> BEST FRIEND !</h2>
            <div class="row justify-content-center align-items-center">

                <div class="col-md-6 my-4"> <button class="btn search-btn rounded-pill text-center shadow-sm ">Find a dog</button> </div>
                <div class="col-md-6 "> <button class="btn search-btn  rounded-pill text-center shadow-sm ">Find a cat</button> </div>

            </div>
        </div>
    </div>
</a>




</div>
</div>


</div>
</section>

<footer class="container-fluid">

    <p class="text-center pt-5 pb-5 my-0"> © Copyright 2021 - AlAnoud AlBattah </p>

</footer>


</body>

</html>